
/*
margin: top left bottom right;
*/
body {
    background-color: lightblue;
}
/*
body:after {
    display: block;
    position: fixed; // could also be absolute 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}
*/

div.Principal {
	float: top;
	overflow: auto;
	background-color: #D7DBDD; 
	margin: 3% 1% 3% 1%;
}

div.Encabezado {
	background-color: #F7DC6F;
	padding: 2%;
}

div.Login {
    line-height: 50px;
    padding: 1%;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -225px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

div.Opciones {
	float: left;	
	width: 60%;

}

div.Graficos {
	background-color: #58D68D;
	overflow: auto;
	float: right;
	
	height: 100%; 
	width: 40%;
}

div.seleBD {
	border: solid;
	background-color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

ul li ol a {
	display: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111111;
}