
/*
margin: top left bottom right;
*/
body {
    background-color: lightblue;
    float: top;
}

/*
body:after {
    display: block;
    position: fixed; // could also be absolute 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}
*/

div.Principal {
	float: top;
	overflow: auto;
	background-color: #D7DBDD; 
	margin: 3% 1% 3% 1%;
}

div.Encabezado {
	background-color: #660033;
	float: top;
	padding: 30px 0 0 30px;
}

.Encabezado p {
	background-color: #b30059; 
	padding: 10px;
	margin: 0;

	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 25px;
	letter-spacing: -1px;
	word-spacing: -3px;
	color: #ffffff;
	font-weight: 700;
	font-style: italic;
	font-variant: normal;
}

div.espaciado {
	width: 60%;
	height: 6%;
	margin: 0;
	float: left;
}

div.consultitas {
	background-color: #111;
	float: left; 
	width: 96%;
	margin: 2%;
	border-radius: 10px 10px 0 0;
	border: solid 1px;
	border-color: #111;
	height: 40%;
}

.consultitas h1 {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 25px;
	letter-spacing: -1px;
	word-spacing: -3px;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	font-variant: normal;
	text-align: center;
}

.consultitas p {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 11pt;
	letter-spacing: -1px;
	word-spacing: -3px;
	color: #111;
	font-weight: 700;
	font-style: normal;
	font-variant: normal;
	transition: .5s;

	background-color: #fff; 
	border: solid;
	border: 1px;
	width: 100%;
	height: 84.7%;
	float: top;
}
div.Login {
    line-height: 50px;
    padding: 1%;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -225px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

div.Graficos {
	background-color: #fff;
	overflow: auto;
	float: right;
	height: 100%;
	width: 40%;
}

div.Graficos #grafiquito {
	width: 100%;
	height: 43%;
}

div.seleBD {
	float: right;
	margin: 0;
	padding: 0;
	border: solid;
	background-color: red;
}

.seleBD input {
	background: none;
}

/*Modificacion del navegador*/
div.main_nav {
	background: #333333;
	float: left;	
	width: 60%;
	padding-top: 5px;
}

select {
	width: 150px;
}

a {
	color: #06c;
}

ul {
    padding: 0;
    margin: 0;
}

#main_nav ul {
	background: #333333;
	float: left;
	-webkit-transition: .5s;
	transition: .5s;
	width: 60%;
}

#main_nav li {
	float: left;
	position: relative;
	width: 33.33%;
	list-style: none;
	-webkit-transition: .5s;
	transition: .5s;
}

#main_nav li ul li{
	float: left;
	position: relative;
	width: 100%;
	list-style: none;
	-webkit-transition: .5s;
	transition: .5s;
}

#main_nav > ul > li > a {
	text-transform: uppercase;
}

#main_nav a {
	display: block;
	text-decoration: none;
	padding: 5px 15px;
	color: #fff;
}

#main_nav ul ul {
	position: absolute;
	left: 0;
	top: 100%;
	visibility: hidden;
	opacity: 0;
}

#main_nav ul li ul {
	width: 100%;
}

#main_nav ul ul ul {
	left: 100%;
	top: 0;
}

#main_nav li:hover li, #main_nav li:hover {
	background: #111;
}

#main_nav li li:hover, #main_nav li li:hover li {
	background: #555;
}

#main_nav li li li:hover {
	background: #999;
}

#main_nav li:hover > ul {
	visibility: visible;
	opacity: 1;
}

.estiloTabla table {
	float : left;
	padding: 0;
	margin-top: 20%;
	width: 60%;
	border: 0;
}

.estiloTabla tr {
	width: 20%;
}
